<div class="container ">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">


    <ul id="" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a class="btn btn-outline-light fw-bolder fs-5 px-2 link-secondary" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
            class="fa-solid fa-bars"></i><a></li>
      <li><a href="#!index" class="{{$location.path() == '/index' ? 'active': ''}} nav-link px-2 link-secondary">FPT
          Polytechnic</a></li>
      <li><a href="#!about"
          class="{{$location.path() == '/about' ? 'active': ''}} nav-link nav-link px-2 link-dark">Giới thiệu</a></li>
      <li><a href="#courses"
          class="{{$location.url().includes('courses') ? 'active': ''}} nav-link nav-link px-2 link-dark">Khoá học</a>
      </li>
      <li><a href="#" class="{{$location.path() == '/contact' ? 'active': ''}} nav-link px-2 link-dark">Liên hệ</a></li>
      <li><a href="#" class="nav-link px-2 link-dark"> Góp ý</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Hỏi đáp</a></li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search"
        ng-model="$parent.searchKeyword">
    </form>
    <div class="text-end" ng-if="!isLogin">
      <a href="#!login" class="btn btn-primary" id="btn-login">Đăng nhập</a>
      <a href="#!register" class="btn btn-secondary">Đăng ký</a>
    </div>
    <div class="dropdown text-end" ng-if="isLogin">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://znews-stc.zdn.vn/static/topic/person/trump.jpg" alt="mdo" width="32" height="32"
          class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <!-- <li><a class="dropdown-item" href="">Quên mật khẩu</a></li> -->
        <li><a class="dropdown-item" href="#!update-password">Đổi mật khẩu</a></li>
        <li><a class="dropdown-item" href="#!update-profile">Cập nhật tài khoản</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#" ng-click="logout();">Đăng xuất</a></li>
        <!-- <li><a class="dropdown-item" href="auth/register.html">Đăng ký</a></li>
          <li><a class="dropdown-item" href="auth/login.html">Đăng nhập</a></li> -->
      </ul>
    </div>
  </div>
</div>