  <div class="container bg-light" >
      <div class="col m-auto" style="max-width:400px; min-width: 300px;">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body p-4 p-sm-5">
            <h1 class=" fw-bold text-uppercase m-0 fs-4 lead text-secondary text-center">thay đổi mật khẩu</h1>
            <small>
              <p class="fs-6 fw-lighter text-muted text-center py-2">Cập nhật mật khẩu của bạn</p>
            </small>
            <form name="updatePwForm" class="needs-validation g-3" novalidate>

              <div class="form-floating mb-3 has-validation">
                <input ng-model="old" ng-minlength="6" ng-pattern="/^[a-zA-Z0-9-]*$/"
                type="password" name="old"
                class="form-control {{(updatePwForm.old.$untouched && !updatePwForm.old.$dirty)? '' : updatePwForm.old.$invalid? 'is-invalid':'is-valid'}}"
                id="password" placeholder=" " required>
                <label class="text-muted fw-light" for="password">Nhập mật khẩu cũ</label>
                <div class="invalid-feedback">Nhập A-z, 0-9, '-' và từ 6 kí tự trở lên.</div>
              </div>
              <hr>

            <div class="form-floating mb-3 has-validation">
              <input ng-model="password" ng-minlength="6" ng-pattern="/^[a-zA-Z0-9-]*$/"
              type="password" name="pw"
              class="form-control {{(updatePwForm.pw.$untouched && !updatePwForm.pw.$dirty)? '' : updatePwForm.pw.$invalid? 'is-invalid':'is-valid'}}"
              id="password" placeholder=" " required>
              <label class="text-muted fw-light" for="password">Nhập mật khẩu mới</label>
              <div class="invalid-feedback">Nhập A-z, 0-9, '-' và từ 6 kí tự trở lên.</div>
            </div>

            <div class="form-floating mb-3 mt-4 has-validation">
              <input ng-model="verify" ng-minlength="6" ng-pattern="/^[a-zA-Z0-9-]*$/"
              type="password" name="verify"
              class="form-control {{(updatePwForm.verify.$untouched && !updatePwForm.verify.$dirty)? '' : updatePwForm.verify.$invalid || (password != verify)? 'is-invalid' : 'is-valid'}}"
              id="verify" placeholder=" " required>
              <label class="text-muted fw-light" for="verify">Xác nhận mật khẩu</label>
              <div class="invalid-feedback">
                {{
                  (password != verify)? 'Xác nhận mật khẩu không trùng khớp.'
                                : 'Nhập A-z, 0-9, "-" và từ 6 kí tự trở lên.'
                }}

              </div>
            </div>

              <div class="d-grid">
                <button ng-click="changePassword();" ng-disabled="updatePwForm.$invalid || password != verify"
                 class=" m-auto col-8 btn btn-lg btn-danger btn-login fw-bold text-uppercase" type="submit">thay đổi mật khẩu</button>
              </div>

            </form>
          </div>
        </div>
      </div>
  </div>