<div class="container bg-light">
  <div class="row">
    <div class="col mx-auto" style="max-width: 600px; min-width: 300px;">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <!-- <div class="card-img-left d-none d-md-flex">
            // Background image for card set in CSS!
          </div> -->
        <div class="card-body mt-2 m-auto">
          <h5 class="card-title   fw-light text-muted text-uppercase fs-4 "><i class="bi bi-pencil-square"></i>
            &nbsp;Cập nhật thông tin </h5>
          <hr>
          <form name="updateForm" classs="needs-validation" novalidate>
            <div class="row">
              <div class="mb-3 col-6">
                <label class="text-muted fw-light form-label" for="username">Username</label>
                <input ng-model="user.username" ng-minlength="3" ng-max-length="20" type="text" name="un" disabled
                  class="form-control bg-light" id="username" placeholder=" " required>
              </div>
              <div class="mb-3 has-validation col-6">
                <label class="text-muted fw-light form-label" for="email">Email</label>
                <input ng-model="user.email" ng-minlength="3" type="email" name="email"
                  class="form-control {{(updateForm.email.$untouched && !updateForm.email.$dirty)? '' : updateForm.email.$invalid? 'is-invalid':'is-valid'}}"
                  id="email" placeholder="abc@fpt.edu.vn" required>
                <div class="invalid-feedback">Nhập email hợp lệ.</div>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 has-validation col-6">
                <label class="text-muted fw-light form-label" for="fullName">Họ và tên</label>
                <input ng-model="user.fullName" ng-minlength="3" ng-maxlength="50" type="text" name="fullName"
                  class="form-control {{(updateForm.fullName.$untouched && !updateForm.fullName.$dirty)? '' : updateForm.fullName.$invalid? 'is-invalid':'is-valid'}}"
                  id="fullName" placeholder="" required>
                <div class="invalid-feedback">Nhập 3 đến 50 kí tự..</div>
              </div>

              <div class="mb-3 has-validation col-6">
                <label class="text-muted fw-light form-label" for="birthday">Ngày sinh</label>
                <input ng-model="user.birthday" type="date" name="birthday"
                  class="form-control {{(updateForm.birthday.$untouched && !updateForm.birthday.$dirty)? '' : updateForm.birthday.$invalid? 'is-invalid':'is-valid'}}"
                  id="birthday" placeholder="abc@fpt.edu.vn" required>
                <div class="invalid-feedback">Vui lòng chọn một ngày.</div>
              </div>
            </div>

            <div class="row">
              <div class="mb-3 col-6">
                <label for="exampleInputEmail1" class="form-label text-muted fw-light">Địa chỉ</label>
                <textarea ng-model="user.address" class="form-control" name="address" id="" cols="30"
                  rows="5">Công viên phần mềm Quang Trung</textarea>
              </div>

              <div class="mb-3 col-6">
                <p class="text-muted fw-light">Giới tính</p>
                <div class="d-flex">
                  <div class="form-check mx-2">
                    <input ng-init="user.gender = user.gender? 'true':'false'" ng-model="user.gender" ng-value="'true'" class="form-check-input" type="radio" name="gender"
                      id="flexRadioDefault1" required>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Nam
                    </label>
                  </div>
                  <div class="form-check mx-2">
                    <input ng-model="user.gender" ng-value="'false'" class="form-check-input" type="radio"
                      name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Nữ
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-2 m-auto text-end">
              <button ng-click="save();" ng-disabled="updateForm.$invalid || updateForm.$pristine"
                class="btn btn-success fw-light">Cập nhật</button>
              <button ng-click="clear();" class="btn btn-secondary bg-opacity-25 fw-light">Đặt lại</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>